.body {
  box-sizing: border-box;
}

.containerPage {
  overflow: hidden;
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
}

.containerCarousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.imgCarousel {
  flex: 0 0 100%;
}

img {
  width: 100%;
  max-height: 100%;
}
